.elementor-bc-flex-widget .elementor-145 .elementor-element.elementor-element-729cdac.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-145 .elementor-element.elementor-element-729cdac.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-145 .elementor-element.elementor-element-729cdac:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-145 .elementor-element.elementor-element-729cdac>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var( --e-global-color-uicore_white);
}

.elementor-145 .elementor-element.elementor-element-729cdac>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 50px 50px 50px 50px;
}

.elementor-145 .elementor-element.elementor-element-729cdac>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-145 .elementor-element.elementor-element-5a3e6fa {
    color: var( --e-global-color-uicore_headline);
    font-size: 24px;
    font-weight: 600;
    width: auto;
    max-width: auto;
}

.elementor-145 .elementor-element.elementor-element-5a3e6fa>.elementor-widget-container {
    margin: 20px 0px 0px 0px;
    padding: 10px 20px 10px 20px;
    border-style: dashed;
    border-color: var( --e-global-color-uicore_headline);
}

.elementor-145 .elementor-element.elementor-element-a8d5bd9 {
    color: var( --e-global-color-uicore_headline);
    font-size: 12px;
}

.elementor-145 .elementor-element.elementor-element-a8d5bd9>.elementor-widget-container {
    margin: 20px 0px 0px 0px;
}

.elementor-145 .elementor-element.elementor-element-9debe45>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-widget .tippy-tooltip .tippy-content {
    text-align: center;
}