.elementor-67 .elementor-element.elementor-element-4bfd5f9:not(.elementor-motion-effects-element-type-background),
.elementor-67 .elementor-element.elementor-element-4bfd5f9>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var( --e-global-color-uicore_dark);
}

.elementor-67 .elementor-element.elementor-element-4bfd5f9 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 64px 0px 48px 0px;
}

.elementor-67 .elementor-element.elementor-element-4bfd5f9>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-67 .elementor-element.elementor-element-9a6c21a {
    text-align: left;
}

.elementor-67 .elementor-element.elementor-element-9a6c21a img {
    width: 170px;
}

.elementor-67 .elementor-element.elementor-element-b7af445 {
    color: #FFFFFF70;
}

.elementor-67 .elementor-element.elementor-element-b2d4694 .elementor-heading-title {
    color: #FFFFFF7D;
    font-size: 14px;
}

.elementor-67 .elementor-element.elementor-element-8c89dcf .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(5px/2);
}

.elementor-67 .elementor-element.elementor-element-8c89dcf .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(5px/2);
}

.elementor-67 .elementor-element.elementor-element-8c89dcf .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(5px/2);
    margin-left: calc(5px/2);
}

.elementor-67 .elementor-element.elementor-element-8c89dcf .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-5px/2);
    margin-left: calc(-5px/2);
}

body.rtl .elementor-67 .elementor-element.elementor-element-8c89dcf .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-5px/2);
}

body:not(.rtl) .elementor-67 .elementor-element.elementor-element-8c89dcf .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-5px/2);
}

.elementor-67 .elementor-element.elementor-element-8c89dcf .elementor-icon-list-icon i {
    transition: color 0.3s;
}

.elementor-67 .elementor-element.elementor-element-8c89dcf .elementor-icon-list-icon svg {
    transition: fill 0.3s;
}

.elementor-67 .elementor-element.elementor-element-8c89dcf {
    --e-icon-list-icon-size: 14px;
    --icon-vertical-offset: 0px;
}

.elementor-67 .elementor-element.elementor-element-8c89dcf .elementor-icon-list-text {
    color: #FFFFFF;
    transition: color 0.3s;
}

.elementor-67 .elementor-element.elementor-element-8c89dcf .elementor-icon-list-item:hover .elementor-icon-list-text {
    color: var( --e-global-color-uicore_primary);
}

.elementor-67 .elementor-element.elementor-element-889b582 .elementor-heading-title {
    color: #FFFFFF7D;
    font-size: 14px;
}

.elementor-67 .elementor-element.elementor-element-0e49c90 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(5px/2);
}

.elementor-67 .elementor-element.elementor-element-0e49c90 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(5px/2);
}

.elementor-67 .elementor-element.elementor-element-0e49c90 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(5px/2);
    margin-left: calc(5px/2);
}

.elementor-67 .elementor-element.elementor-element-0e49c90 .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-5px/2);
    margin-left: calc(-5px/2);
}

body.rtl .elementor-67 .elementor-element.elementor-element-0e49c90 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-5px/2);
}

body:not(.rtl) .elementor-67 .elementor-element.elementor-element-0e49c90 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-5px/2);
}

.elementor-67 .elementor-element.elementor-element-0e49c90 .elementor-icon-list-icon i {
    transition: color 0.3s;
}

.elementor-67 .elementor-element.elementor-element-0e49c90 .elementor-icon-list-icon svg {
    transition: fill 0.3s;
}

.elementor-67 .elementor-element.elementor-element-0e49c90 {
    --e-icon-list-icon-size: 14px;
    --icon-vertical-offset: 0px;
}

.elementor-67 .elementor-element.elementor-element-0e49c90 .elementor-icon-list-text {
    color: #FFFFFF;
    transition: color 0.3s;
}

.elementor-67 .elementor-element.elementor-element-0e49c90 .elementor-icon-list-item:hover .elementor-icon-list-text {
    color: var( --e-global-color-uicore_primary);
}

.elementor-67 .elementor-element.elementor-element-8ade9d2 .elementor-heading-title {
    color: #FFFFFF7D;
    font-size: 14px;
}

.elementor-67 .elementor-element.elementor-element-14c7b4e .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(5px/2);
}

.elementor-67 .elementor-element.elementor-element-14c7b4e .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(5px/2);
}

.elementor-67 .elementor-element.elementor-element-14c7b4e .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(5px/2);
    margin-left: calc(5px/2);
}

.elementor-67 .elementor-element.elementor-element-14c7b4e .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-5px/2);
    margin-left: calc(-5px/2);
}

body.rtl .elementor-67 .elementor-element.elementor-element-14c7b4e .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-5px/2);
}

body:not(.rtl) .elementor-67 .elementor-element.elementor-element-14c7b4e .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-5px/2);
}

.elementor-67 .elementor-element.elementor-element-14c7b4e .elementor-icon-list-icon i {
    transition: color 0.3s;
}

.elementor-67 .elementor-element.elementor-element-14c7b4e .elementor-icon-list-icon svg {
    transition: fill 0.3s;
}

.elementor-67 .elementor-element.elementor-element-14c7b4e {
    --e-icon-list-icon-size: 14px;
    --icon-vertical-offset: 0px;
}

.elementor-67 .elementor-element.elementor-element-14c7b4e .elementor-icon-list-text {
    color: #FFFFFF;
    transition: color 0.3s;
}

.elementor-67 .elementor-element.elementor-element-14c7b4e .elementor-icon-list-item:hover .elementor-icon-list-text {
    color: var( --e-global-color-uicore_primary);
}

.elementor-67 .elementor-element.elementor-element-e6701bf .elementor-heading-title {
    color: #FFFFFF7D;
    font-size: 14px;
}

.elementor-67 .elementor-element.elementor-element-f7842aa .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(5px/2);
}

.elementor-67 .elementor-element.elementor-element-f7842aa .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(5px/2);
}

.elementor-67 .elementor-element.elementor-element-f7842aa .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(5px/2);
    margin-left: calc(5px/2);
}

.elementor-67 .elementor-element.elementor-element-f7842aa .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-5px/2);
    margin-left: calc(-5px/2);
}

body.rtl .elementor-67 .elementor-element.elementor-element-f7842aa .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-5px/2);
}

body:not(.rtl) .elementor-67 .elementor-element.elementor-element-f7842aa .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-5px/2);
}

.elementor-67 .elementor-element.elementor-element-f7842aa .elementor-icon-list-icon i {
    transition: color 0.3s;
}

.elementor-67 .elementor-element.elementor-element-f7842aa .elementor-icon-list-icon svg {
    transition: fill 0.3s;
}

.elementor-67 .elementor-element.elementor-element-f7842aa {
    --e-icon-list-icon-size: 14px;
    --icon-vertical-offset: 0px;
}

.elementor-67 .elementor-element.elementor-element-f7842aa .elementor-icon-list-text {
    color: #FFFFFF;
    transition: color 0.3s;
}

.elementor-67 .elementor-element.elementor-element-f7842aa .elementor-icon-list-item:hover .elementor-icon-list-text {
    color: var( --e-global-color-uicore_primary);
}

.elementor-67 .elementor-element.elementor-element-75bc6ac:not(.elementor-motion-effects-element-type-background),
.elementor-67 .elementor-element.elementor-element-75bc6ac>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var( --e-global-color-uicore_dark);
}

.elementor-67 .elementor-element.elementor-element-75bc6ac>.elementor-background-overlay {
    background-color: #FFFFFF;
    opacity: 0.05;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-67 .elementor-element.elementor-element-75bc6ac {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 24px 0px 24px 0px;
}

.elementor-67 .elementor-element.elementor-element-75bc6ac a {
    color: #FFFFFF;
}

.elementor-67 .elementor-element.elementor-element-75bc6ac a:hover {
    color: var( --e-global-color-uicore_primary);
}

.elementor-bc-flex-widget .elementor-67 .elementor-element.elementor-element-1e1c265.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-67 .elementor-element.elementor-element-1e1c265.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-67 .elementor-element.elementor-element-9956649 {
    color: #FFFFFF78;
}

.elementor-bc-flex-widget .elementor-67 .elementor-element.elementor-element-07c473e.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-67 .elementor-element.elementor-element-07c473e.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-67 .elementor-element.elementor-element-8988d28 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(12px/2);
}

.elementor-67 .elementor-element.elementor-element-8988d28 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(12px/2);
}

.elementor-67 .elementor-element.elementor-element-8988d28 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(12px/2);
    margin-left: calc(12px/2);
}

.elementor-67 .elementor-element.elementor-element-8988d28 .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-12px/2);
    margin-left: calc(-12px/2);
}

body.rtl .elementor-67 .elementor-element.elementor-element-8988d28 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-12px/2);
}

body:not(.rtl) .elementor-67 .elementor-element.elementor-element-8988d28 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-12px/2);
}

.elementor-67 .elementor-element.elementor-element-8988d28 .elementor-icon-list-icon i {
    color: #FFFFFF;
    transition: color 0.3s;
}

.elementor-67 .elementor-element.elementor-element-8988d28 .elementor-icon-list-icon svg {
    fill: #FFFFFF;
    transition: fill 0.3s;
}

.elementor-67 .elementor-element.elementor-element-8988d28 .elementor-icon-list-item:hover .elementor-icon-list-icon i {
    color: var( --e-global-color-uicore_primary);
}

.elementor-67 .elementor-element.elementor-element-8988d28 .elementor-icon-list-item:hover .elementor-icon-list-icon svg {
    fill: var( --e-global-color-uicore_primary);
}

.elementor-67 .elementor-element.elementor-element-8988d28 {
    --e-icon-list-icon-size: 18px;
    --icon-vertical-offset: 0px;
}

.elementor-67 .elementor-element.elementor-element-8988d28 .elementor-icon-list-text {
    transition: color 0.3s;
}

.elementor-widget .tippy-tooltip .tippy-content {
    text-align: center;
}

@media(max-width:1024px) {
    .elementor-67 .elementor-element.elementor-element-4bfd5f9 {
        padding: 48px 0px 32px 0px;
    }
    .elementor-67 .elementor-element.elementor-element-9a6c21a img {
        width: 145px;
    }
    .elementor-67 .elementor-element.elementor-element-b2d4694 .elementor-heading-title {
        font-size: 13px;
    }
    .elementor-67 .elementor-element.elementor-element-889b582 .elementor-heading-title {
        font-size: 13px;
    }
    .elementor-67 .elementor-element.elementor-element-8ade9d2 .elementor-heading-title {
        font-size: 13px;
    }
    .elementor-67 .elementor-element.elementor-element-e6701bf .elementor-heading-title {
        font-size: 13px;
    }
    .elementor-67 .elementor-element.elementor-element-75bc6ac {
        padding: 16px 0px 16px 0px;
    }
    .elementor-67 .elementor-element.elementor-element-8988d28 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
        padding-bottom: calc(16px/2);
    }
    .elementor-67 .elementor-element.elementor-element-8988d28 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
        margin-top: calc(16px/2);
    }
    .elementor-67 .elementor-element.elementor-element-8988d28 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
        margin-right: calc(16px/2);
        margin-left: calc(16px/2);
    }
    .elementor-67 .elementor-element.elementor-element-8988d28 .elementor-icon-list-items.elementor-inline-items {
        margin-right: calc(-16px/2);
        margin-left: calc(-16px/2);
    }
    body.rtl .elementor-67 .elementor-element.elementor-element-8988d28 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
        left: calc(-16px/2);
    }
    body:not(.rtl) .elementor-67 .elementor-element.elementor-element-8988d28 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
        right: calc(-16px/2);
    }
    .elementor-67 .elementor-element.elementor-element-8988d28 {
        --e-icon-list-icon-size: 23px;
    }
}

@media(max-width:767px) {
    .elementor-67 .elementor-element.elementor-element-4bfd5f9 {
        padding: 48px 0px 32px 0px;
    }
    .elementor-67 .elementor-element.elementor-element-050d92d>.elementor-element-populated {
        margin: 0px 0px 24px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-67 .elementor-element.elementor-element-9a6c21a img {
        width: 130px;
    }
    .elementor-67 .elementor-element.elementor-element-44fa5b4 {
        width: 50%;
    }
    .elementor-67 .elementor-element.elementor-element-44fa5b4>.elementor-element-populated {
        margin: 0px 0px 24px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-67 .elementor-element.elementor-element-0469e82 {
        width: 50%;
    }
    .elementor-67 .elementor-element.elementor-element-0469e82>.elementor-element-populated {
        margin: 0px 0px 24px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-67 .elementor-element.elementor-element-ea829ed {
        width: 50%;
    }
    .elementor-67 .elementor-element.elementor-element-439bee1 {
        width: 50%;
    }
    .elementor-67 .elementor-element.elementor-element-75bc6ac {
        padding: 24px 0px 24px 0px;
    }
    .elementor-67 .elementor-element.elementor-element-9956649 {
        text-align: center;
    }
    .elementor-67 .elementor-element.elementor-element-8988d28 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
        padding-bottom: calc(20px/2);
    }
    .elementor-67 .elementor-element.elementor-element-8988d28 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
        margin-top: calc(20px/2);
    }
    .elementor-67 .elementor-element.elementor-element-8988d28 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
        margin-right: calc(20px/2);
        margin-left: calc(20px/2);
    }
    .elementor-67 .elementor-element.elementor-element-8988d28 .elementor-icon-list-items.elementor-inline-items {
        margin-right: calc(-20px/2);
        margin-left: calc(-20px/2);
    }
    body.rtl .elementor-67 .elementor-element.elementor-element-8988d28 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
        left: calc(-20px/2);
    }
    body:not(.rtl) .elementor-67 .elementor-element.elementor-element-8988d28 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
        right: calc(-20px/2);
    }
    .elementor-67 .elementor-element.elementor-element-8988d28 {
        --e-icon-list-icon-size: 21px;
    }
}

@media(min-width:768px) {
    .elementor-67 .elementor-element.elementor-element-050d92d {
        width: 48%;
    }
    .elementor-67 .elementor-element.elementor-element-44fa5b4 {
        width: 13%;
    }
    .elementor-67 .elementor-element.elementor-element-0469e82 {
        width: 13%;
    }
    .elementor-67 .elementor-element.elementor-element-ea829ed {
        width: 13%;
    }
    .elementor-67 .elementor-element.elementor-element-439bee1 {
        width: 13%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-67 .elementor-element.elementor-element-050d92d {
        width: 36%;
    }
    .elementor-67 .elementor-element.elementor-element-44fa5b4 {
        width: 16%;
    }
    .elementor-67 .elementor-element.elementor-element-0469e82 {
        width: 16%;
    }
    .elementor-67 .elementor-element.elementor-element-ea829ed {
        width: 16%;
    }
    .elementor-67 .elementor-element.elementor-element-439bee1 {
        width: 16%;
    }
}